body 
  { 
    background-color: #FEFCF3;
  }

hr
  {
    background-color: #F0DBDB;
    border-style: none;
    height: 2px;
    width: 30%;
    justify-content: center;
  }
a:link
  {
    color: #DBA39A; 
    text-decoration: none;
  }
a:hover
  {
    color: #DBA3fA;
    text-decoration: underline;
  }
a:visited
  {
    color: #DBA39A;
    text-decoration: none;
  }
a:active
  {
    color: #DBA3fA;
    text-decoration: underline;
  }
a.homework
  {
    color: #F0DBDB;
    text-decoration: none;
  }
a.homework:hover
  {
    color: #DBA3fA;
  }


